<div class="card mb-3">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="fa fa-fw" aria-hidden="true" title="Copy to use podcast"></i>{{ 'LIVREURLIST' | translate }}
        </div>
        <div class="btn-actions-pane-right">
            <button type="button" routerLink="/dash/feature-add-Categorie" class="btn-icon btn-wide btn-outline-2x btn btn-outline-focus btn-sm d-flex">
                {{ 'ADD' | translate }}
                <span class="pl-2 align-middle opacity-7">
                    <i class="fa fa-fw" aria-hidden="true" title="Copy to use plus"></i>
                </span>
            </button>
        </div>
    </div>
    <div class="card-body">
        <table class="mb-0 table table-striped">
            <thead>
                <tr role="row">
                    <th class="text-center" aria-controls="example" rowspan="1" colspan="1">
                        #ID
                    </th>
                    <th class="text-center" aria-controls="example" rowspan="1" colspan="1" >
                        nom
                    </th>
                    <th class="text-center" aria-controls="example" rowspan="1" colspan="1">
                        prenom
                    </th>
                    <th class="text-center" aria-controls="example" rowspan="1" colspan="1">
                        Email
                    </th>
                    <th class="text-center" aria-controls="example" rowspan="1" colspan="1">
                        Tel
                    </th>
                    <th class="text-center" aria-controls="example" rowspan="1" colspan="1">
                        {{ 'UPDATE_DELETE' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr role="row" class="odd" *ngFor = "let user of Users">
                    <td class="text-center" class="sorting_1 dtr-control">{{ user._id }}</td>
                    <td class="text-center">{{ user.nom }}</td>
                    <td class="text-center">{{ user.prenom }}</td>
                    <td class="text-center">{{ user.email }}</td>
                    <td class="text-center">{{ user.tel }}</td>
                    <td class="text-center">
                        <div role="group" class="btn-group-sm btn-group">
                            <a (click) = "updateUsers(user._id)"  class="btn-shadow btn btn-warning">{{ 'UPDATE' | translate }}</a>
                            <a (click) = "deleteUsers(user._id)"  class="btn-shadow btn btn-danger">{{ 'DELETE' | translate }}</a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th class="text-center" rowspan="1" colspan="1">#ID</th>
                    <th class="text-center" rowspan="1" colspan="1">Nom</th>
                    <th class="text-center" rowspan="1" colspan="1">Prenom</th>
                    <th class="text-center" rowspan="1" colspan="1">Email</th>
                    <th class="text-center" rowspan="1" colspan="1">Tel</th>
                    <th class="text-center" rowspan="1" colspan="1">{{ 'UPDATE_DELETE' | translate }}</th>
                </tr>
            </tfoot>
        </table>
        <mat-paginator [length]="this.Users.length"
                        [pageSize]="10"
                        [pageSizeOptions]="[10, 20, 50, 100, 250, 500, 1000]"
                        (page)="OnPageChange($event)">
        </mat-paginator>
    </div>
</div>