<div class="app-main__inner">
    <div class="app-inner-layout">
        <div class="app-inner-layout__wrapper">
            <div class="app-inner-layout__content card">
                <div>
                    <div class="app-inner-layout__top-pane">
                        <div class="pane-left">
                            <div class="mobile-app-menu-btn">
                                <button type="button" class="hamburger hamburger--elastic">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                            <h4 class="mb-0">Inbox</h4>
                        </div>
                        <div class="pane-right">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-search fa-w-16 "></i>
                                    </div>
                                </div>
                                <input name="SearchThings" [(ngModel)]="SearchThings" (ngModelChange)="Search()" placeholder="Search..." type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="bg-white">
                        <div class="table-responsive">
                            <table class="text-nowrap table-lg mb-0 table table-hover">
                                <tbody>
                                    <tr *ngFor = "let user of pageSlice">
                                        <td>
                                            <div class="widget-content p-0" *ngIf="user.toUser._id != User._id" (click) = "goToChat(user.toUser._id)">
                                                <div class="widget-content-wrapper">
                                                    <div class="avatar-icon-wrapper">
                                                        <div *ngIf="user.toUser.typeUser == 'superAdmin'" class="badge badge-success badge-dot badge-dot-lg"></div>
                                                        <div *ngIf="user.toUser.typeUser == 'Admin'" class="badge badge-danger badge-dot badge-dot-lg"></div>
                                                        <div *ngIf="user.toUser.typeUser == 'Livreur'" class="badge badge-warning badge-dot badge-dot-lg"></div>
                                                        <div *ngIf="user.toUser.typeUser == 'Editeur'" class="badge badge-info badge-dot badge-dot-lg"></div>
                                                        <div *ngIf="user.toUser.typeUser == 'Client'" class="badge badge-primary badge-dot badge-dot-lg"></div>
                                                        <div *ngIf="user.toUser.typeUser == 'Support-User'" class="badge badge-secondary badge-dot badge-dot-lg"></div>
                                                        <div class="avatar-icon">
                                                            <img [src]="user.toUser.imgProfile" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">{{ user.toUser.nom}} {{ user.toUser.prenom}}</div>
                                                        <div class="widget-subheading">{{user.message}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content p-0" *ngIf="user.toUser._id == User._id" (click) = "goToChat(user.fromUser._id)">
                                                <div class="widget-content-wrapper">
                                                    <div class="avatar-icon-wrapper">
                                                        <div *ngIf="user.fromUser.typeUser == 'superAdmin'" class="badge badge-success badge-dot badge-dot-lg"></div>
                                                        <div *ngIf="user.fromUser.typeUser == 'Admin'" class="badge badge-danger badge-dot badge-dot-lg"></div>
                                                        <div *ngIf="user.fromUser.typeUser == 'Livreur'" class="badge badge-warning badge-dot badge-dot-lg"></div>
                                                        <div *ngIf="user.fromUser.typeUser == 'Editeur'" class="badge badge-info badge-dot badge-dot-lg"></div>
                                                        <div *ngIf="user.fromUser.typeUser == 'Client'" class="badge badge-primary badge-dot badge-dot-lg"></div>
                                                        <div *ngIf="user.fromUser.typeUser == 'Support-User'" class="badge badge-secondary badge-dot badge-dot-lg"></div>
                                                        <div class="avatar-icon">
                                                            <img [src]="user.fromUser.imgProfile" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">{{ user.fromUser.nom}} {{ user.fromUser.prenom}}</div>
                                                        <div class="widget-subheading">
                                                            <i class="icon ion-android-checkmark-circle"></i>{{user.message}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <i class="fa fa-calendar-alt opacity-4 mr-2"></i>
                                            {{user.updatedAt | date: 'dd-MM-yyyy HH:mm:ss'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table> 
                        </div>
                        <div class="app-inner-layout__bottom-pane d-block text-center">
                            <nav class="" aria-label="Page navigation example">
                                <mat-paginator [length]="this.pageSlice.length"
                                [pageSize]="10"
                                [pageSizeOptions]="[10, 20, 50, 100, 250, 500, 1000]"
                                (page)="OnPageChange($event)">
                </mat-paginator>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-inner-layout__sidebar card">
                <ul class="nav flex-column">
                    <li class="pt-4 pl-3 pr-3 pb-3 nav-item">
                        <button (click)="writeNewEmailByDialog()" class="btn-pill btn-shadow btn btn-primary btn-block">Write New Email</button>
                    </li>
                    <li class="nav-item-divider nav-item"></li>
                    <li class="nav-item-header nav-item">Tags
                        <small class="ml-1">Important</small>
                    </li>
                    <li class="nav-item">
                        <button type="button" tabindex="0" class="d-flex align-items-center dropdown-item">
                            <div class="badge ml-0 mr-3 badge-dot badge-dot-xl badge-success">Dark</div>
                            Supper Admins
                        </button>
                        <button type="button" tabindex="0" class="d-flex align-items-center dropdown-item">
                            <div class="badge ml-0 mr-3 badge-dot badge-dot-xl badge-danger">Dark</div>
                            Admins
                        </button>
                        <button type="button" tabindex="0" class="d-flex align-items-center dropdown-item">
                            <div class="badge ml-0 mr-3 badge-dot badge-dot-xl badge-secondary">Dark</div>
                            Support Users
                        </button>
                        <button type="button" tabindex="0" class="d-flex align-items-center dropdown-item">
                            <div class="badge ml-0 mr-3 badge-dot badge-dot-xl badge-info">Dark</div>
                            Editeurs
                        </button>
                        <button type="button" tabindex="0" class="d-flex align-items-center dropdown-item">
                            <div class="badge ml-0 mr-3 badge-dot badge-dot-xl badge-warning">Dark</div>
                            Livreurs
                        </button>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <button type="button" tabindex="0" class="d-flex align-items-center dropdown-item">
                            <div class="badge ml-0 mr-3 badge-dot badge-dot-xl badge-primary">Dark</div>
                            Clients
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>