<form>
    <div class="form-row">
        <div class="col-md-12">
            <div class="position-relative form-group">
                <label for="exampleLibelle" class="">{{ 'TO' | translate }}</label>
                <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput
                           aria-label="State"
                           [matAutocomplete]="auto"
                           [formControl]="stateCtrl" class="form-control">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let user of filteredStates | async" [value]="user.nom +' '+ user.prenom" (onSelectionChange)="getUserSelected(user)">
                        <img class="example-option-img" aria-hidden [src]="user?.imgProfile" height="25">
                        <span>{{user?.nom}} {{user?.prenom}}</span> |
                        <small>Role: {{user?.typeUser}}</small>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
            </div>
        </div>
    </div>
    <div class="position-relative form-group">
        <label for="exampleDescription"class="">{{ 'MESSAGE' | translate }}</label>
        <textarea name="message" [(ngModel)] = "newChat.message" id="exampleDescription" placeholder="Message ......." class="form-control"></textarea>
    </div>
</form>
<div class="d-block text-right card-footer">
    <button (click)="onNoClick()" class="mb-2 mr-2 btn btn-light">Cancel</button>
    <button (click)="sendMessage()" class="mb-2 mr-2 btn btn-info">Send</button>
</div>