<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-fw" aria-hidden="true" title="Copy to use folder-open" style="color: #909599"></i>
                </div> 
                <div>{{ 'USERS_DASHBOARD' | translate }}
                    <div class="page-title-subheading">{{ 'USER_DASHBOARD_TEXT' | translate }}.</div>
                </div>
            </div>
            <div class="page-title-actions">
                <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom"
                    class="btn-shadow mr-3 btn btn-dark">
                    <i class="fa fa-star"></i>
                </button>
            </div>    
        </div>
    </div>
    <div class="tabs-animation">
        <app-admin></app-admin>
    </div>
    <div class="tabs-animation">
        <app-editeur></app-editeur>
    </div>
    <div class="tabs-animation">
        <app-support-user></app-support-user>
    </div>
    <div class="tabs-animation">
        <app-livreur></app-livreur>
    </div>
    <div class="tabs-animation">
        <app-client></app-client>
    </div>
</div>
