<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-fw" aria-hidden="true" title="Copy to use plus-circle"></i>
                </div>
                <div>{{ 'ACCESSOIREBIKEUPDATE' | translate }}
                </div>
            </div>
            <div class="page-title-actions">
                <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom"
                    class="btn-shadow mr-3 btn btn-dark">
                    <i class="fa fa-star"></i>
                </button>
            </div>    
        </div>
    </div>        
    <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
        <li class="nav-item">
            <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
                <span>{{ 'ACCESSOIREBIKEUPDATE' | translate }}</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Grid Rows</h5>
                    <form class="">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="exampleLibelle" class="">Code Bare</label>
                                    <input name="codeBare" [(ngModel)] = "Produit.codeBare" placeholder="example : 14c8f658ds" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="exampleLibelle" class="">Hide Line</label>
                                    <input name="hideline" [(ngModel)] = "Produit.hideline" placeholder="Product Title" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="exampleLibelle" class="">{{ 'LEBELLE' | translate }}</label>
                                    <input name="libelle" [(ngModel)] = "Produit.libelle" placeholder="Between, Decatlon" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="exampleLibelle" class="">Marque</label>
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <select class="form-control"  [(ngModel)] ="Produit.marque" (ngModelChange)="displyMarque($event)" [ngModelOptions]="{standalone: true}">
                                                <option *ngFor="let marque of marques" [ngValue]="marque">{{ marque.libelle }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="exampleLibelle" class="">Categorie</label>
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <select class="form-control"  [(ngModel)] ="Produit.categorie" (ngModelChange)="displyCategorie($event)" [ngModelOptions]="{standalone: true}">
                                                <option *ngFor="let categorie of categories" [ngValue]="categorie">{{ categorie.libelle }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="exampleLibelle" class="">Univer</label>
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <select class="form-control"  [(ngModel)] ="Produit.Univer"  (ngModelChange)="displyUniver($event)" [ngModelOptions]="{standalone: true}">
                                                <option *ngFor="let univer of univers" [ngValue]="univer">{{ univer.libelle }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="position-relative form-group">
                            <label for="exampleDescription"class="">{{ 'DESCRIPTION' | translate }}</label>
                            <textarea name="description" id="exampleDescription" [(ngModel)] = "Produit.description" placeholder="Description ......." class="form-control"></textarea>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="exampleCity" class="">Prix Achat</label>
                                    <input name="prixAchat" [(ngModel)] = "Produit.prixAchat" placeholder="prix by MAD" type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="exampleState" class="">Prix de Vent</label>
                                    <input name="prixVent" [(ngModel)] = "Produit.prixVent" placeholder="prix by MAD" type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="position-relative form-group">
                                    <label for="exampleZip" class="">Qte</label>
                                    <input name="qteStock" [(ngModel)] = "Produit.qteStock" placeholder="Example : 14" type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="exampleLibelle" class="">Model</label>
                                    <input name="anneModel" [(ngModel)] = "Produit.anneModel" placeholder="2014, 2017, 2020" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="exampleLibelle" class="">Etat de produite</label>
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <select name="etat" [(ngModel)] = "Produit.etat" class="form-control">
                                                <option>true</option>
                                                <option>false</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Images</h5>
                    <div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="exampleLibelle" class="">Choiser les images</label>
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <input type="file" (change)="selectFiles($event)" multiple >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-3" *ngFor="let url of urls">
                                        <div class="list-group-item">
                                            <div class="todo-indicator bg-info"></div>
                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left mr-3">
                                                        <div class="widget-content-left">
                                                            <img width="42" class="rounded" [src]="url" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-right widget-content-actions">
                                                        <button class="border-0 btn-transition btn btn-outline-danger" (click)="delete_img(url)">
                                                            <i class="fa fa-trash-alt"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div>
                        <div class="form-row">
                            <a (click)="onSubmit()" class="mt-2 btn btn-primary" style="color: white;">Modifier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>