<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-fw" aria-hidden="true" title="Copy to use folder-open" style="color: #909599"></i>
                </div>
                <div>{{ 'FEATURES_DASHBOARD' | translate }}
                    <div class="page-title-subheading">{{ 'FEATURES_DASHBOARD_TEXT' | translate }}.</div>
                </div>
            </div>
            <div class="page-title-actions">
                <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom"
                    class="btn-shadow mr-3 btn btn-dark">
                    <i class="fa fa-star"></i>
                </button>
            </div>    
        </div>
    </div>
    <div class="tabs-animation">
        <div class="card mb-3">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="fa fa-fw" aria-hidden="true" title="Copy to use podcast"></i>{{ 'COUPONLIST' | translate }}
                </div>
                <div class="btn-actions-pane-right">
                    <button type="button" routerLink="/dash/coupon/ajouter-coupon" class="btn-icon btn-wide btn-outline-2x btn btn-outline-focus btn-sm d-flex">
                        {{ 'ADD' | translate }}
                        <span class="pl-2 align-middle opacity-7">
                            <i class="fa fa-fw" aria-hidden="true" title="Copy to use plus"></i>
                        </span>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table class="mb-0 table table-striped">
                    <thead>
                        <tr role="row">
                            <th class="text-center" aria-controls="example" rowspan="1" colspan="1">
                                Libelle
                            </th>
                            <th class="text-center" aria-controls="example" rowspan="1" colspan="1" >
                                Code
                            </th>
                            <th class="text-center" aria-controls="example" rowspan="1" colspan="1">
                                Pourcentage
                            </th>
                            <th class="text-center" aria-controls="example" rowspan="1" colspan="1">
                                Etat
                            </th>
                            <th class="text-center" aria-controls="example" rowspan="1" colspan="1">
                                {{ 'UPDATE_DELETE' | translate }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="odd" *ngFor = "let coupon of pageSlice">
                            <td class="text-center">{{ coupon.libelle }}</td>
                            <td class="text-center">{{ coupon.code }}</td>
                            <td class="text-center">{{ coupon.pourcentage }}%</td>
                            <td class="text-center">
                                <div *ngIf="coupon.etat == true" class="mb-2 mr-2 badge badge-pill badge-success">Allow</div>
                                <div *ngIf="coupon.etat == false" class="mb-2 mr-2 badge badge-pill badge-danger">Suspended</div>
                            </td>
                            <td class="text-center">
                                <div role="group" class="btn-group-sm btn-group">
                                    <a (click) = "updateCoupon(coupon._id)"  class="btn-shadow btn btn-warning">{{ 'UPDATE' | translate }}</a>
                                    <a (click) = "deleteCoupon(coupon._id)"  class="btn-shadow btn btn-danger">{{ 'DELETE' | translate }}</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text-center" rowspan="1" colspan="1">Libelle</th>
                            <th class="text-center" rowspan="1" colspan="1">Code</th>
                            <th class="text-center" rowspan="1" colspan="1">Pourcentage</th>
                            <th class="text-center" rowspan="1" colspan="1">Etat</th>
                            <th class="text-center" rowspan="1" colspan="1">{{ 'UPDATE_DELETE' | translate }}</th>
                        </tr>
                    </tfoot>
                </table>
                <mat-paginator [length]="this.Coupons.length"
                                [pageSize]="10"
                                [pageSizeOptions]="[10, 20, 50, 100, 250, 500, 1000]"
                                (page)="OnPageChange($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>