<div class="app-main__inner p-0">
    <div class="app-inner-layout chat-layout">
        <div class="app-inner-layout__wrapper">
            <div class="app-inner-layout__content card">
                <div class="table-responsive">
                    <div class="app-inner-layout__top-pane">
                        <div class="pane-left">
                            <div class="mobile-app-menu-btn">
                                <button type="button" class="hamburger hamburger--elastic">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                            <div class="avatar-icon-wrapper mr-2">
                                <div class="badge badge-bottom btn-shine badge-success badge-dot badge-dot-lg">
                                </div>
                                <div class="avatar-icon avatar-icon-xl rounded">
                                    <img width="82" [src]="toUser.imgProfile" alt="">
                                </div>
                            </div>
                            <h4 class="mb-0 text-nowrap">{{ toUser.nom }} {{ toUser.prenom }}
                                <div class="opacity-7">Last Seen Online:
                                    <span class="opacity-8">10 minutes ago</span>
                                </div>
                            </h4>
                        </div>
                    </div>
                    <div class="scroll-area-lg" style="height: 370px;">
                        <div class="scrollbar-container ps ps--active-y">
                            <div class="">
                                <div class="chat-wrapper" *ngFor = "let chat of chats">
                                    <div class="chat-box-wrapper" *ngIf="chat.fromUser._id == toUser._id">
                                        <div>
                                            <div class="avatar-icon-wrapper mr-1">
                                                <div class="badge badge-bottom btn-shine badge-success badge-dot badge-dot-lg">
                                                </div>
                                                <div class="avatar-icon avatar-icon-lg rounded">
                                                    <img [src]="chat.fromUser.imgProfile" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="chat-box">{{chat.message}}.</div>
                                            <small class="opacity-6">
                                                <i class="fa fa-calendar-alt mr-1"></i>
                                                {{ chat.updatedAt }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="chat-box-wrapper chat-box-wrapper-right" *ngIf="chat.fromUser._id == User._id" style="float: right;">
                                        <div>
                                            <div class="chat-box">{{chat.message}}.</div>
                                            <small class="opacity-6">
                                                <i class="fa fa-calendar-alt mr-1"></i>
                                                {{ chat.updatedAt }}
                                            </small>
                                        </div>
                                        <div>
                                            <div class="avatar-icon-wrapper mr-1">
                                                <div class="badge badge-bottom btn-shine badge-success badge-dot badge-dot-lg">
                                                </div>
                                                <div class="avatar-icon avatar-icon-lg rounded">
                                                    <img [src]="chat.fromUser.imgProfile" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="ps__rail-x" style="left: 0px; bottom: -203px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 203px; height: 400px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 135px; height: 265px;"></div></div></div>
                    </div>
                    <div class="card-footer">
                        <input name="message" [(ngModel)] = "chat.message" placeholder="Write here and hit enter to send..." type="text" class="form-control-sm form-control">
                        <button (click)="saveChat()" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>