<div class="mb-3 card">
  <div class="card-header-tab card-header">
      <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
          ventes par sexe
      </div>
  </div>
  <div class="p-0 card-body">
      <div class="tab-content">
        <ngx-charts-advanced-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="NoteResult"
            [gradient]="gradient"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
            >
          </ngx-charts-advanced-pie-chart>
      </div>
  </div>
</div>