<div class="mb-3 card">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            Produits les plus vendus
        </div>
    </div>
    <div class="widget-chart widget-chart2 text-left p-0">
        <div class="widget-chat-wrapper-outer">
            <div class="widget-chart-content widget-chart-content-lg">
                <div class="widget-chart-flex">
                    <div class="widget-title opacity-5 text-muted text-uppercase">Ninety One Skullrider
                    </div>
                </div>
                <div class="widget-numbers">
                    <div class="widget-chart-flex">
                        <div>
                            <span class="opacity-10 text-warning pr-2">
                                <i class="fa fa-dot-circle"></i>
                            </span>
                            <span>€984</span>
                        </div>
                        <div class="widget-title ml-2 font-size-lg font-weight-normal text-muted">
                            <span class="text-success pl-2">+14</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-chart-wrapper widget-chart-wrapper-xlg opacity-10 m-0">
                <div id="dashboard-sparkline-2"></div>
            </div>
        </div>
    </div>
    <div class="pt-2 pb-0 card-body">
        <h6 class="text-muted text-uppercase font-size-md opacity-9 mb-2 font-weight-normal">Produits</h6>
        <div class="scroll-area-md shadow-overflow">
            <div class="scrollbar-container">
                <ul class="rm-list-borders rm-list-borders-scroll list-group list-group-flush">
                    <li class="list-group-item"  *ngFor = "let product of ProductResults">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-3">
                                    <img width="38" class="rounded-circle" [src]="product.ImgProduct" alt="">
                                </div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">{{ product.libelle }}</div>
                                    <div class="widget-subheading mt-1 opacity-10">
                                        <div class="badge badge-pill badge-dark">€{{ product.prixUnitair }}</div>
                                    </div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="fsize-1 text-focus">
                                        <small class="opacity-5 pr-1">€</small>
                                        <span>{{ product.Total }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>